<!DOCTYPE html>
<html>
    {% include 'hackathon/base.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <h1 class="page-title">About us</h1>
                    <p class="page-content">
                        Fine Society is a creative technology agency. We marry innovative ideas with new and emerging technologies to remodel the way in which consumers interact with business.
                    </p>
                    <p class="page-content">
                        Our team has backgrounds in advertising, production and technology. We have a scaleable model and we partner with other technologists, engineers, builders and creatives to make sure we have the right team in place for the job.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>