<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Django Hackathon Starter </title>
    <script src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/d3/d3.min.js"></script>
    
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

  </head>
    
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="/static/img/logo.png"></a>
        </div>

        <div id="menuToggle">
          <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input type="checkbox" {% if menu == 'opened' %}checked{% endif %}/>

          <!--
          Some spans to act as a hamburger.

          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
          <span></span>
          <span></span>
          <span></span>

          <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
          <ul id="menu" {% if bg_color %}style="background-color: {{ bg_color }}{% if location == 'wdwd' %}; color: white{% endif %}"{% endif %}>
            <a href="/"><li class="fs-logo"><img src="/static/img/{% if location == 'wdwd' %}fs-logo-white{% else %}fs-logo{% endif %}.png"></li></a>
            <a href="/about" {% if location == 'about' %}class="active"{% endif %}><li>About us</li></a>
            <a href="/wdwd" {% if location == 'wdwd' %}class="active"{% endif %}><li>What do we do</li></a>
            <a href="/contact" {% if location == 'contact' %}class="active"{% endif %}><li>Contact us</li></a>
            <li class="social-links">
              <ul>
                <a href="#"><li class="social-twitter"><img src="/static/img/{% if location == 'wdwd' %}twitter-white{% else %}twitter{% endif %}.png"></li></a>
                <a href="#"><li><img src="/static/img/{% if location == 'wdwd' %}facebook-white{% else %}facebook{% endif %}.png"></li></a>
                <a href="#"><li><img src="/static/img/{% if location == 'wdwd' %}instagram-white{% else %}instagram{% endif %}.png"></li></a>
              </ul>
            </li>
          </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            {% if user.is_authenticated %}
            <li><a href="/hackathon/api">API</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
              <li class="active"><a href="/hackathon/register">Register <span class="sr-only">(current)</span></a></li>

              <li><a href="/hackathon/login">Login</a></li>
            {% endif %}

          </ul>

          <ul  class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}

              <li><a>Hello {{user}}</a></li>
              <li><a href="/hackathon/logout/">Logout</a></li>
            {% endif %}
          </ul>
        </div>--><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </body>
</html>