<!DOCTYPE html>
<html>
    {% include 'hackathon/base.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h1 class="page-title">Contact us</h1>
                    <p class="page-content">
                        Have a thought, brief, or just curious?
                    </p>
                    <h2 class="page-subtitle">Projects - Eleanor</h2>
                    <p class="page-subcontent">eleanor@finesociety.com.au</p>
                    <h2 class="page-subtitle">Technology - Matt</h2>
                    <p class="page-subcontent">matt@finesociety.com.au</p><br/><br/>
                    <p class="page-content">
                        If you’d prefer to chat just enter your name, email, phone number, and anything you’d like us to know, and we’ll give you a call.
                    </p>
                </div>
                <div class="col-lg-offset-1 col-lg-4 col-md-6 col-sm-12">
                    <form class="contact-form">
                        <div class="form-group">
                            <label for="contact_name">Name*</label>
                            <input type="text" class="form-control" id="contact_name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="contact_email">Email*</label>
                            <input type="email" class="form-control" id="contact_email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="contact_phone">Phone*</label>
                            <input type="number" class="form-control" id="contact_phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="contact_message">Message*</label>
                            <textarea class="form-control" id="contact_message" name="message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-form">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>