<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body class="home-bg">
    <div class="container">
		<!--
    	{% if user.is_authenticated %}
        	<h1>Api Example</h1>
        	<strong>{{ boldmessage }}</strong><br />
        {% else %}
        	<h1> Please register/login! </h1>
        {% endif %}
    	<br>-->
		<div class="row">
			<div class="col-sm-12 col-md-8 col-lg-7">
				<h1 class="home-text">Fine Society is a creative technology agency. We marry innovative ideas with new and emerging technologies to remodel the way in which consumers interact with business.</h1>
			</div>
		</div>
	</div>
    </body>
</html>
