<!DOCTYPE html>
<html>
    {% include 'hackathon/base.html' %}
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <h1 class="page-title">What do we do</h1>
                    <p class="page-content">
                        Almost anything really, technologically speaking.
                    </p>
                    <p class="page-content">
                        Every day is different, every project completely new. If we’re doing it right we can tell you what we did yesterday, but we can’t tell you what we’ll be doing tomorrow.<br/>
                        What we can tell you is that our motto is pander to the person, not to the people.
                    </p>
                    <p class="page-content">
                        We live in a me-centric world; we expect things to work for us and we get frustrated when they don’t.
                    </p>
                    <p class="page-content">
                        Using data, machine learning, and old fashioned creative, we design unique user experiences that seamlessly link business to consumer and vice versa.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>