// fonts
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto BlackItalic';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Italic';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto LightItalic';
  src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto MediumItalic';
  src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto Thin';
  src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto ThinItalic';
  src: url('../fonts/Roboto-ThinItalic.ttf') format('truetype');
}

.home-bg {
  background-image: url('../img/FS-bg.png');
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-x: -200px;
  background-position-y: -30px;
}
body {
  overflow-x: hidden;

  .navbar {
    min-height: 88px;

    .navbar-brand {
      height: 88px;
      padding: 26px 15px;
    }

    #menuToggle {
      display: block;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      float: right;
      margin-right: -15px;
      padding: 30px;

      input {
        display: block;
        width: 100%;
        height: 88px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */
        -webkit-touch-callout: none;
      }

      /*
       * Just a quick hamburger
       */
      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #232323;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
          transform-origin: 0% 100%;
        }
      }

      /*
       * Transform all the slices of hamburger
       * into a crossmark.
       */

      input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;

        &:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2);
        }

        /*
         * Ohyeah and the last one should go the other direction
         */
        &:nth-last-child(2) {
          opacity: 1;
          transform: rotate(-45deg) translate(0, -1px);
        }
      }

      /*
       * Make this absolute positioned
       * at the top left of the screen
       */

      #menu {
        position: absolute;
        width: 600px;
        height: calc(100vh - 90px);
        margin: 32px 0 0 0;
        padding: 90px 250px 50px 50px;
        background-color: #f8f8f8;
        color: black;
        border-left: 1px solid #e7e7e7;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 1000px 0%;
        transform: translate(1000px, 0);
        transition: transform 0.9s cubic-bezier(0.77,0.2,0.05,1.0);
        text-align: right;

        a {
          color: inherit;
          text-decoration: none;

          &:hover,
          &:focus,
          &.active {
            color: inherit;
            text-decoration: none;
            font-weight: bold;
          }
        }

        li {
          padding: 7px 0;
          font-size: 18px;
          font-family: 'Roboto Thin';
        }

        .fs-logo {
          margin-bottom: 40px;
        }

        .social-links {
          margin-top: 150px;

          ul {
            list-style: none;
            display: flex;
            float: right;

            img {
              width: 20px;
              margin-left: 20px;
            }

            .social-twitter {
              img {
                width: 22px;
              }
            }
          }
        }
      }

      /*
       * And let's fade it in from the left
       */

      input:checked ~ ul#menu {
        transform: translate(-300px);
        opacity: 1;
      }
    }
  }

  .home-text {
    font-size: 50px;
    font-family: 'Roboto Regular';
    padding-top: 20px;
  }

  .page-title {
    font-size: 35px;
    font-family: 'Roboto Medium';
    margin: 70px 0 40px 0;
  }

  .page-subtitle {
    font-size: 25px;
    font-family: 'Roboto Medium';
    padding-top: 20px;
    font-weight: 100;
    margin-bottom: 28px;
    margin-top: 0;
  }

  .page-content {
    font-size: 20px;
    font-family: 'Roboto Regular';
    margin-bottom: 40px;
    line-height: 40px;
  }

  .page-subcontent {
    font-size: 16px;
    font-family: 'Roboto Thin';
  }

  .contact-form {
    margin-top: 80px;

    .form-group {
      margin-bottom: 30px;

      label {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        font-family: "Roboto Medium";
      }

      .form-control {
        height: 45px;
        background-color: #e7e7e7;
        border-radius: 0;
      }

      textarea.form-control {
        height: 120px;
      }
    }

    .btn-form {
      color: #e7e7e7;
      background-color: #141414;
      border: none;
      border-radius: 0;
      padding: 13px 65px;
      font-size: 16px;
      font-family: "Roboto Medium";
    }
  }
}

@media screen and (min-width: 1500px) {
  .container {
    width: 1470px;
  }
}