@font-face {
  font-family: 'Roboto Black';
  src: url("../fonts/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto BlackItalic';
  src: url("../fonts/Roboto-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/Roboto-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Italic';
  src: url("../fonts/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Light';
  src: url("../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto LightItalic';
  src: url("../fonts/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto MediumItalic';
  src: url("../fonts/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Thin';
  src: url("../fonts/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto ThinItalic';
  src: url("../fonts/Roboto-ThinItalic.ttf") format("truetype"); }

.home-bg {
  background-image: url("../img/FS-bg.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-x: -200px;
  background-position-y: -30px; }

body {
  overflow-x: hidden; }
  body .navbar {
    min-height: 88px; }
    body .navbar .navbar-brand {
      height: 88px;
      padding: 26px 15px; }
    body .navbar #menuToggle {
      display: block;
      position: relative;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
      float: right;
      margin-right: -15px;
      padding: 30px;
      /*
       * Just a quick hamburger
       */
      /*
       * Transform all the slices of hamburger
       * into a crossmark.
       */
      /*
       * Make this absolute positioned
       * at the top left of the screen
       */
      /*
       * And let's fade it in from the left
       */ }
      body .navbar #menuToggle input {
        display: block;
        width: 100%;
        height: 88px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /* hide this */
        z-index: 2;
        /* and place it over the hamburger */
        -webkit-touch-callout: none; }
      body .navbar #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #232323;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
        body .navbar #menuToggle span:first-child {
          transform-origin: 0% 0%; }
        body .navbar #menuToggle span:nth-last-child(2) {
          transform-origin: 0% 100%; }
      body .navbar #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
        /*
         * Ohyeah and the last one should go the other direction
         */ }
        body .navbar #menuToggle input:checked ~ span:nth-last-child(3) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        body .navbar #menuToggle input:checked ~ span:nth-last-child(2) {
          opacity: 1;
          transform: rotate(-45deg) translate(0, -1px); }
      body .navbar #menuToggle #menu {
        position: absolute;
        width: 600px;
        height: calc(100vh - 90px);
        margin: 32px 0 0 0;
        padding: 90px 250px 50px 50px;
        background-color: #f8f8f8;
        color: black;
        border-left: 1px solid #e7e7e7;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 1000px 0%;
        transform: translate(1000px, 0);
        transition: transform 0.9s cubic-bezier(0.77, 0.2, 0.05, 1);
        text-align: right; }
        body .navbar #menuToggle #menu a {
          color: inherit;
          text-decoration: none; }
          body .navbar #menuToggle #menu a:hover, body .navbar #menuToggle #menu a:focus, body .navbar #menuToggle #menu a.active {
            color: inherit;
            text-decoration: none;
            font-weight: bold; }
        body .navbar #menuToggle #menu li {
          padding: 7px 0;
          font-size: 18px;
          font-family: 'Roboto Thin'; }
        body .navbar #menuToggle #menu .fs-logo {
          margin-bottom: 40px; }
        body .navbar #menuToggle #menu .social-links {
          margin-top: 150px; }
          body .navbar #menuToggle #menu .social-links ul {
            list-style: none;
            display: flex;
            float: right; }
            body .navbar #menuToggle #menu .social-links ul img {
              width: 20px;
              margin-left: 20px; }
            body .navbar #menuToggle #menu .social-links ul .social-twitter img {
              width: 22px; }
      body .navbar #menuToggle input:checked ~ ul#menu {
        transform: translate(-300px);
        opacity: 1; }
  body .home-text {
    font-size: 50px;
    font-family: 'Roboto Regular';
    padding-top: 20px; }
  body .page-title {
    font-size: 35px;
    font-family: 'Roboto Medium';
    margin: 70px 0 40px 0; }
  body .page-subtitle {
    font-size: 25px;
    font-family: 'Roboto Medium';
    padding-top: 20px;
    font-weight: 100;
    margin-bottom: 28px;
    margin-top: 0; }
  body .page-content {
    font-size: 20px;
    font-family: 'Roboto Regular';
    margin-bottom: 40px;
    line-height: 40px; }
  body .page-subcontent {
    font-size: 16px;
    font-family: 'Roboto Thin'; }
  body .contact-form {
    margin-top: 80px; }
    body .contact-form .form-group {
      margin-bottom: 30px; }
      body .contact-form .form-group label {
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        font-family: "Roboto Medium"; }
      body .contact-form .form-group .form-control {
        height: 45px;
        background-color: #e7e7e7;
        border-radius: 0; }
      body .contact-form .form-group textarea.form-control {
        height: 120px; }
    body .contact-form .btn-form {
      color: #e7e7e7;
      background-color: #141414;
      border: none;
      border-radius: 0;
      padding: 13px 65px;
      font-size: 16px;
      font-family: "Roboto Medium"; }

@media screen and (min-width: 1500px) {
  .container {
    width: 1470px; } }
